<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles-main">
        <app-big-card class="articles-main-big-card"></app-big-card>
    </div>
    <div class="articles-orthers">
        <app-small-card class="articles-orthers-small"></app-small-card>
        <app-small-card class="articles-orthers-small"></app-small-card>
        <app-small-card class="articles-orthers-small"></app-small-card>
        <app-small-card class="articles-orthers-small"></app-small-card>
        <app-small-card class="articles-orthers-small"></app-small-card>
        <app-small-card class="articles-orthers-small"></app-small-card>
    </div>
</div>