<div class="container-big-card">
    <a href="#">
        <div class="big-card-photo">
            <img src="https://www.angularjswiki.com/angular/use-ngoptimizedimage-to-improve-image-loading-performance-in-angular/featured.png">
        </div>
        <div class="big-card-title">
            <h1>Saiu a nova versão do Angular</h1>
        </div>
        <div class="big-card-description">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus odit adipisci alias expedita? Eaque cumque reiciendis, et quia repellat dignissimos impedit distinctio porro ex maxime eveniet ipsa libero ipsam! Ad?</p>
        </div>
    </a>
</div>